.site-container{
  max-width: 100%;
  .navbar-container {
    background: $white;
    @include hidden;
  }
  .brand {
    @include left-float;
  }
  .brand-name {
    font-family: $secondaryFont;
    font-size: 30px;
    @include left-float;
    border: none;
    margin-top: 15px;
    }
  }
}

nav {
  ul {
    @include right-float;
    list-style: none;
    @include hidden;
  }

  li {
    @include left-float;
    font-family: $sansFont;
    margin: 10px;
    transition: all .3s ease-in;
    font-family: $primaryFont;
    color: $black;
    display: block;
    padding: 14px 16px;
    text-align: center;
    &:hover {
    transform: scale(1.5);
    }
  }
}

li {
  a {
  color: $black;
  text-decoration: none;

  &:hover {
    background-color: $white;
    }
  }
}
